<html>
<head>
    <title>Authenticate with Google</title>
    {% include "@HappyrGoogleSiteAuthenticator/Assets/styles.html.twig" %}
</head>
<body>
<div id="wrapper">
{% block content %}

{% endblock %}
</div>
</body>
</html>
